@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  background: #0f0f0f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yellow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 16px;
  width: calc(100% - 40px);
  height: 50px;
  margin: 20px auto;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0) 100%), #EAAC08;
  border: 1px solid #FAC515;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.4), inset 0px 2px 0px rgba(255, 255, 255, 0.4);
  transition: transform 0.2s;
}

.yellow-button:active {
  transform: scale(0.98);
}

.yellow-button-text {
  font-weight: 600;
  font-size: 16px;
  color: #171412;
}
